.header {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1.5rem auto;
  width: 100%;
  max-width: 800px;
}

.header select {
  outline: none;
  border-radius: 2rem;
  font-size: 1rem;
  padding: 0 1rem;
  border: none;
  background-color: #3b3b3b;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}

.defaultOption {
  font-weight: 900;
}

.container {
  display: grid;
  place-content: center;
  place-items: center;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
