.header {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1.5rem auto;
  width: 100%;
  max-width: 800px;
}

.header select,
.reset {
  outline: none;
  border-radius: 2rem;
  font-size: 1rem;
  padding: 0 1rem;
  border: none;
  background-color: #3b3b3b;
  color: #fff;
  cursor: pointer;
}

.reset:hover {
  background-color: #525252;
  box-shadow: 0 0 11px rgba(240, 240, 240, 0.4);
}

.reset:disabled {
  opacity: 0.2;
  background-color: #3b3b3b;
  box-shadow: 0 0 0 rgba(240, 240, 240, 0.4);
  cursor: default;
}

.defaultOption {
  font-weight: 900;
}

.container {
  display: grid;
  place-content: center;
  place-items: center;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.reset {
  border-radius: 2rem;
}
