.center {
  display: flex;
  height: 80vh;
}

.container {
  display: flex;
  background-color: var(--bg-darkgray);
  box-shadow: 0 0 11px rgba(240, 240, 240, 0.4);
  border-radius: 2rem;
  overflow: hidden;
  width: 100%;
}

/* Make each item take up half of the space */
.container div {
  flex: 1;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 4rem;
  max-height: 100%;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
}

.title {
  font-size: 2.3rem;
  font-weight: 600;
}

.subheader {
  display: flex;
  gap: 1rem;
}
.released,
.rating {
  padding: 0.4rem 0.6rem;
  border-radius: 9999px;
  display: flex;
  width: fit-content;
}

.released {
  background-color: #85581d;
}

.rating {
  background-color: #2b593e;
}

.description {
  font-size: 1rem;
  line-height: 1.5rem;
}

.genresContainer,
.platformsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3rem;
  font-size: 0.8rem;
}

.genresContainer > span {
  background-color: #28456c;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
}

.platformsContainer > span {
  background-color: #492f64;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
}

.imageContainer {
  position: relative;
}

.imageContainer::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* make content not selectable */
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.editableContainer {
  display: flex;
  gap: 0.5rem;

  /* Positioning */
  position: absolute;
  z-index: 9999;
  top: 1rem;
  right: 1rem;
}

.edit,
.delete {
  padding: 0.6rem 0.7rem;
  border-radius: 0.3rem;
  color: #fff;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.edit {
  background-color: #2b593e;
}

.delete {
  background-color: #6e3530;
}

.edit:hover,
.delete:hover {
  opacity: 0.9;
}
