.center {
  margin: auto;
  display: grid;
  place-content: center;
  place-items: center;
}

.form {
  background-color: var(--bg-darkgray);
  box-shadow: 0 0 11px rgba(240, 240, 240, 0.4);
  border-radius: 2rem;
  overflow: hidden;
  max-width: 680px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}

.input,
.textarea {
  border: none;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
  padding: 0.8rem 1rem;
  outline: none;
}

.textarea {
  min-height: 6rem;
  height: 6rem;
  resize: vertical;
}

.input:focus {
  outline: none;
}

.error {
  font-size: 0.9rem;
  color: #bbb;
  margin-top: -1rem;
  margin-left: 1rem;
}

.genresContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3rem;
  font-size: 0.8rem;
}

.genresContainer > div {
  background-color: #28456c;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
}

.button {
  background-color: rgb(212, 100, 100);
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 1.5rem;
  color: var(--bg-white);
  font-weight: 600;
  cursor: pointer;
}
.button:hover {
  opacity: 90%;
}

.created {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
  color: rgb(39, 122, 0);
}
