.container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 1.3rem;
  color: #d1d1d1;
}

.name {
  font-size: 1.3rem;
  color: #d1d1d1;
}

.name a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #09f;
  cursor: pointer;
}

.image {
  margin-top: 1rem;
  /* width: 500px; */
  max-width: 800px;
  object-fit: contain;
  user-select: none;
}

.social {
  display: flex;
  gap: 2rem;
}

.social a {
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  transition: 0.3s;
}
.social a:hover {
  border-color: #fff;
}
.github {
  background-color: #000;
}
.linkedin {
  background-color: #0072b1;
}
